*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1
{
    text-align: center;
    font-size: clamp(30px, 7vw, 90px);
    padding: 40px 10px;
}
main p
{
    max-width: 850px;
    margin: 0 auto;
    padding: 100px 20px;
    line-height: 1.4;
}
main p:nth-child(even)
{
    background-color: rgb(106, 54, 54);
}
main p:nth-child(odd)
{
    background-color: rgb(54, 54, 106);
}
.scroll-indicator
{
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10px;
    transform-origin: left;
    transform: scaleX(0);
    background-image: linear-gradient(to right, #feba3a, #fc3434);
    transition: transform .2s ease-out;
}
footer
{
    padding: 700px 0;
    font-size: 80px;
    text-align: center;
    background-color: chocolate;
}