*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
    Depuis l'été 2023 il est possible d'utiliser le nesting dans le CSS classique.
    Seulement attention, il n'est possiblement pas encore déployé partout.
    De plus la standardisation n'est pas encore parfaite, et certaines règles peuvent dériver d'un navigateur à l'autre.
*/
body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* 
        Comme en SCSS, il est possible de mettre un selecteur, dans un autre,
        Ce qui équivaut ici à dire :
            body > header
    */
    >header
    {
        background-color: lightgreen;
        text-align: center;
        padding: 1rem;
        /* 
            Optionnellement je peux ajouter le selecteur de nesting "&" qui représente, l'élément parent: 
            ici cela donne "body > header > h1"
        */
        &>h1
        {
            font-size: 3rem;
        }
        >p
        {
            font-size: 1.5rem;
        }
    }
    /* 
        Actuellement, si je met un nom de balise, seul dans un nesting.
        Firefox le comprendra sans problème, mais chrome refusera, pour ce dernier, utiliser "&" est obligatoire.
        Pour chrome, un élément nested, doit forcément commencer par un symbole : 
        &, :, ::, ~, +, >, ., #, [, @ 
    */
    & main
    {
        width: 80%;
        margin: auto;
        background-color: lightcyan;
        & section
        {
            margin: 20px 50px;
            padding: 10px;
            border-radius: 10px;
            & h2
            {
                text-indent: 20px;
                text-decoration: underline dashed red;
            }
            >p
            {
                margin: 1em auto;
                text-align: justify;
            }
            /* 
                Attention de bien mettre le nesting selector lorsque vous ne voulez pas selectionner un enfant:
                    section{&:first-child}
                équivaut à :
                    section:first-child
                mais :
                    section{:first-child}
                équivaut à :
                    section :first-child
            */
            &:first-child, &:last-child
            {
                background-color: lightsalmon;
                box-shadow: 5px 5px 3px rgba(136, 84, 64, 0.4);
            }
            &:first-child span
            {
                font-family: monospace;
            }
            &:nth-child(2)
            {
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                >h2
                {
                    grid-column: 1/-1;
                }
                & article
                {
                    border: 2px solid black;
                    border-radius: 5px;
                    padding: 5px;
                    background-color: antiquewhite;
                    box-shadow: 5px 5px 3px rgba(139, 131, 120, 0.5);
                    & h3
                    {
                        text-align: center;
                        font-size: 1.5rem;
                    }
                    & footer
                    {
                        text-align: right;
                    }
                }
            }
            &:last-child
            {
                & h2
                {
                    text-decoration: underline dotted blue;
                    /* 
                        On peut aussi récupérer les éléments frères :
                    */
                    & + p
                    {
                        font-size: 1.2em;
                        & ~ p
                        {
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
    > footer
    {
        background-color: lightskyblue;
        padding: 20px;
        font-size: 1.5em;
        & ul
        {
            display: flex;
            list-style: none;
            justify-content: space-around;
        }
    }
}
/* classes */
.strong
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* 
        :is est ici juste pour respecter la règle disant qu'un selecteur nested doit commencer par un symbole.
    */
    :is(header) &
    {
        text-decoration: underline;
    }
    :is(main) &
    {
        font-weight: bold;
    }
}